.home {
    &-heading {
        display: flex;
        align-items: center;
    }

    &-logo {
        height: 3.5rem;
        width: 3.5rem;
        margin-right: 1rem;
    }

    &-details {
        display: flex;
        gap: 3rem;
        margin-top: 3rem;

        & > * {
            width: 50%;

            @include respond(tablet) {
                width: 100%;
            }
        }

        @include respond(tablet) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

.table {
    width: 100%;
    margin-top: 3rem;
    font-size: 1.6rem;
    border-collapse: collapse;
    border-spacing: 0;

    & td,
    & th {
        border-bottom: 1px solid #ddd;
        padding: 1rem;
    }

    & th {
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
        text-align: left;
        color: #677185;
    }
}
