.button {
    width: fit-content;
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25rem;
    background: #0c6cf2;
    color: $color-white;
    border: 1px solid rgba(5, 24, 61, 0.1);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease 0s;
    cursor: pointer;

    &:hover {
        background-color: darken(#0c6cf2, 10%);
    }
}
